@font-face {
  font-family: "iconfont"; /* Project id 4673398 */
  src: url('iconfont.woff2?t=1729066296092') format('woff2'),
       url('iconfont.woff?t=1729066296092') format('woff'),
       url('iconfont.ttf?t=1729066296092') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jibing-:before {
  content: "\e608";
}

.icon-cells:before {
  content: "\e625";
}

.icon-xibaocells:before {
  content: "\e600";
}

.icon-All-samples:before {
  content: "\e603";
}

.icon-sahre:before {
  content: "\e613";
}

.icon-icon-test:before {
  content: "\e601";
}

.icon-projects:before {
  content: "\e606";
}

.icon-education-research-_experiment-samples:before {
  content: "\e8da";
}

.icon-icon_speciesclassift_norx:before {
  content: "\e615";
}

.icon-hospital-nor:before {
  content: "\e693";
}

.icon-tianjiafuwutuceng:before {
  content: "\e80e";
}

.icon-project:before {
  content: "\e609";
}

.icon-Cells:before {
  content: "\e632";
}

.icon-Project-projects:before {
  content: "\e60a";
}

.icon-qukuailian:before {
  content: "\e65e";
}

.icon-zhitutubiao_tianjiazhibeizhen:before {
  content: "\e6f2";
}

.icon-species:before {
  content: "\e643";
}

.icon-filtering_samples:before {
  content: "\e6e5";
}

.icon-a-Freesamples:before {
  content: "\e602";
}

.icon-animalfootprint:before {
  content: "\e718";
}

.icon-human:before {
  content: "\e676";
}

.icon-Humanresources:before {
  content: "\e639";
}

.icon-HUMAN-COMPUTERINTERACTION:before {
  content: "\e7f0";
}

.icon-animal:before {
  content: "\e642";
}

.icon-animal1:before {
  content: "\e65c";
}

.icon-human1:before {
  content: "\e909";
}

.icon-user-multiple-circle--close-geometric-human-multip:before {
  content: "\e754";
}

.icon-cha:before {
  content: "\e61a";
}

.icon-shanchuguanbicha2:before {
  content: "\e80b";
}

.icon-xiazai:before {
  content: "\e7bd";
}

.icon-cross:before {
  content: "\e605";
}

.icon-xiazai1:before {
  content: "\e635";
}

.icon-chahao:before {
  content: "\e668";
}

.icon-shangchuanyunduan:before {
  content: "\e87b";
}

.icon-xiazai2:before {
  content: "\e612";
}

.icon-chahao1:before {
  content: "\e614";
}

.icon-close:before {
  content: "\e607";
}

.icon-xiazai3:before {
  content: "\e73a";
}

.icon-a-shangchuan1:before {
  content: "\ea5b";
}

.icon-shangchuan:before {
  content: "\e63d";
}

.icon-linedesign-12:before {
  content: "\e671";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-sousuo1:before {
  content: "\f143";
}

.icon-shijieyeshengdongwuri:before {
  content: "\e60e";
}

.icon-renkou:before {
  content: "\e67d";
}

.icon-sharpicons_hippo-:before {
  content: "\e786";
}

.icon-tianchongxing-:before {
  content: "\e629";
}

.icon-feiniao:before {
  content: "\e673";
}

.icon-zhongyingwenqiehuan-yingwen:before {
  content: "\e616";
}

.icon-zhongyingwenqiehuan-zhongwen:before {
  content: "\e617";
}

.icon-denglu:before {
  content: "\e604";
}

